* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #260808;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

.section-grid {
  max-width: 1192px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-inline: auto;
}

#header {
  margin-top: 40px;
}

.header-content {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #ededed;
}
body {
  background-color: #260808;
}
.footer {
    justify-content: center;
    height: 0px;
    color: #ededed;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;}

.about-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  justify-content: center;
  grid-column: 1/13;
}

.about-content h2 {
  color: #ededed;
  
}

.about-content p {
  color: #d6d6d6;
  text-align: center;
  width: 80%;
  
}